.fa-cart-shopping{
    color:#fff;
    font-size:22px;
    margin-right:35px;
}
.card{
    height:380px;
    width:380px;
    margin-top:2vh;
    margin-bottom:2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainCard{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card img{
    height:200px;

}
.card b{
    text-align: center;

}
.card p{
    text-align: center;
margin-top:1vh;
}
.card span{
    text-align: center;
    margin-top:1vh;
}
.card button{
    margin-top:6vh;
}
